body {
    background: rgba(222, 43, 19, 0.31);
    color: rgba(0, 0, 0, 0.973);
    padding: 10px;
    font-family: garmond;
    
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(239, 61, 41, 0.439);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 80px;
    border-style: ridge;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(246, 240, 240);
    flex: 1;
    margin: 0;
   
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: underline;
    color: #fb0404;
    
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
    
}
.sidebar-img {
    width: 200px;
    border-style: groove;
    border-color: rgb(239, 16, 5);
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px double;
    border-color: pink;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
