body {
    background: rgb(7, 0, 0);
    color: rgba(255, 253, 253, 0.99);
    padding: 10px;
    font-family: garmond;
    
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(31, 1, 1, 0.439);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 80px;
    border-style: ridge;
}
h1 {
    display: flex;
    align-items: center;
    color: red;
    flex: 1;
    margin: 0;
   
}
#nav-ul {
     list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: underline;
    color: #fb0404;
    
}

/* main container area beneath menu */
main {
    background: rgb(0, 0, 0);
    display: flex;
    
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
    
}
.sidebar-img {
    width: 200px;
    border-style: groove;
    border-color: rgb(242, 237, 236);
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px double;
    border-color: whitesmoke;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
/* portfolio styles */
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #2c2a2a;
}

#portfolio a {
    text-decoration: underline;
    color: #eb1111;



    /* responsive web design */
    @media screen and (min-width: 120px) and (max-width: 1080px) {
        main {
          height: 100ch;
          zoom: 1.5;
          display: grid;
        }

        h1 {
          font-size: 44px;
        }

        h2 {
          font-size: 42px;
        }

        h3 {
          font-size: 36px;
        }

        #all-contents {
          height: 100ch;
          margin: none;
        }

        a {
          font-size: 42px;
        }

        .sidebar {
          margin-right: 0px;
          justify-content: center;
          align-items: center;
        }

        .sidebar-img {
          width: 100%;
        }

        p,
        li {
          font-size: 24px;
        }

        .content {
          align-content: center;
          justify-content: center;
        }
    }
}